<strong>Olá, {{organizer}}</strong>
<p>Uma nova pessoa se inscreveu no seu meetup, {{title}} ,Confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
